# Node modules
node_modules/

# Env files
.env
backend/.env
frontend/.env

# Logs
*.log

# Build outputs
dist/
build/

# Google Cloud keys
# Google API key (sensitive information)
backend/src/config/google-key.json

# Uploads
backend/uploads/